@import 'src/variables.scss';
.Header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  border-bottom: 1px solid $secondary-color;
}

.authButton {
  margin-left: auto;
  margin-right: 20px;
}