@import 'src/variables.scss';
.Header {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  border-bottom: 1px solid $secondary-color;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.authButton {
  margin-left: inherit;
  @media only screen and (min-width: 600px) {
    margin-left: auto;
    margin-right: 20px;
  }
}