.Logo {
  height: 70px;
  width: 70px;
  pointer-events: none;
  display: flex;
  flex-direction: inherit;
  justify-items: inherit;
  padding: 10px;

  > img {
    display: flex;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

