.SudokuGame {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
  min-height: 0;
  * {
    min-height: 0;
    height: auto;
    width: 100%;
    flex-grow: 1;
  }
}