.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  height: 100vh;
  div[class*='sidenav'] { 
    display: none; 
    background-color: pink;
  }

  .footer, .header {
    width: 100%;
  }

  > .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > div {
      flex: 1 1 auto;
      overflow: auto;
    }
  }

  @media only screen and (min-width: 600px) { //768, 992, 1200
    div[class*=sidenav] { display: block; }
  }

  
}
